
*{
  box-sizing: border-box;
}
  
body{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(90deg, rgba(15,255,2,1) 0%, rgba(157,43,27,1) 14%, rgba(241,0,41,1) 100%);
}
  
header{
  padding: 3px;
  background: linear-gradient(90deg, rgba(15,255,2,1) 0%, rgba(157,43,27,1) 14%, rgba(241,0,41,1) 100%);
  text-align: center;
}

nav{
  padding: 1px;
  display: flex;
  flex-direction: row;
  background-color: red;
  color: red;
}
nav a{
  color: red;
  padding: 3px 5px;
  text-decoration: none;
}

/* cambiar el color de fondo a la barra */
nav .navbar-expand-lg {
  background-color: red;
  color: red;
}

.row{
  display: flex;
  flex-wrap: wrap;
}

aside{
  flex: 30%;
  background: linear-gradient(90deg, rgba(15,255,2,1) 0%, rgba(157,43,27,1) 44%, rgba(241,0,41,1) 100%);
  padding: 10px;
  height: 280px;
}

section{
  flex: 70%;
  background-color: khaki;
  padding: 10px;
}

footer{
  padding: 10px;
  flex: auto;
  text-align: center;
  background: linear-gradient(90deg, rgba(15,255,2,1) 0%, rgba(157,43,27,1) 14%, rgba(241,0,41,1) 100%);
  width: auto;
}

.grid-container{
  display: grid;
  background-color: transparent;
  grid-template-columns: auto auto auto;
  justify-content: center;
}

.grid-container div{
  background-color: crimson;
  text-align: center;
  color: white;
  border: 1px solid black;
}

.item1{
  grid-column: 1 / 4;
}

@media screen and (max-width: 720px){

  nav, .row{

    flex-direction: column;

  }

  col-sm3 {
    padding-left: 30px;
  }



  @media screen and (max-width: 576px){

    nav, .row{

      flex-direction: column;

      background-color: red;

    }

    col-sm3 {
      padding-left: 30px;
    }

  }

}